body{
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica;
  background-color: #000000;
}
.site{
  display: grid;
grid-template-rows: 18% 20% 20% 20% 20% ;
  grid-template-columns: 10% 20% 20% 20% 20% 20%;


}


.logo{
  grid-area: 1 / 1 / 2 / 2;
}

.img{
  width: 100%;
}
a, a:visited {
  color: #fff;
  text-decoration: none;
}

.ethos{
  margin-left: 6vmin;
  grid-area: 2 / 1 / 4 / 6;
  /* background-color: white; */
}
.gif{
  width: 81vmin;
}
h1{
  width:80vmin;
  font-size: 2.5em;
  color: cyan;
}
.projectTitle{
  margin-left: 6vmin;
  grid-area: 2 / 1 / 3 / 6;
}
h2{
  width:80vmin;
  font-size: 1.5em;
  color: cyan;
}
h3{
  width:80vmin;
  font-size: 3em;
  color: cyan;
}
hr{
  display: block;
  /* margin-top: 0.5em; */
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /* border-style: inset; */
  border-width: 2px;

}
.firstproject{
 grid-area: 4 / 1 / 6 / 4;
 margin-left: 6vmin;
margin-bottom: 15vmin;
}
.ikea{
  width: 100%;
}
.ikeacaption1{
  color: cyan;
  font-size: 1.2em;
}
.ikeacaption2{
  color: white;
  font-size: 1.1em;
}
.footer{
grid-area: 6/3/7/5;
height: 10vmin;
margin-top: 10vmin;
}

.footertxt{
  color: white;
  font-size: 1.1em;
  text-align: center;
}
.installation{
  grid-area: 3 / 1 / 5 / 5;
  margin-left: 6vmin;
}
.room{
  width: 100%;
}
.ikeacaption1{
  color: cyan;
  font-size: 1.2em;
}
.ikeacaption3{
  color: white;

  font-size: 1.1em;
}
